* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

#cabecalho {
    color: white;
    background: gray;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

#menu {
    padding: 30px;
    background-color: gray;
    color: white;
    text-align: center;
    display: flex;
    
}

a {
    text-decoration: none;
    padding: 15px;
}

  a:visited, a:hover {
    color: #f7b600; 
    background: white;
    text-decoration: none;
    display: block;
}

